<!doctype html>
<html>

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>All Departments</title>
  </head>

  <header>
    University of Akron Athletics Events
  </header>

  <form action ="/" class = "idxForm">
    <input type="submit" value="HOME" class="idxSubmit">
  </form>

  <form action="/display" method="GET" class="idxForm">
      <input type="submit" value="DISPLAY" class="idxSubmit">
      <p class="idxLabel">Display all events.</p>
  </form>

  <form action="/insert" method="GET" class="idxForm">
    <input type="submit" value="INPUT" class="idxSubmit">
    <p class="idxLabel">Add an event and mirror it to your Outlook calendar.</p>
  </form>

  <form action="/search" method="POST" class="idxForm">
    <input type="submit" value="SEARCH" class="idxSubmit">
    <p class="idxLabel">Search for an event.</p>
  </form>

  <form action ="/department" class = "idxForm">
    <input type="submit" value="DEPARTMENTS" class="idxSubmit">
    <p class="idxLabel">Display all departments.</p>
  </form>

  <form action="/logout" class="idxForm">
    <input type="submit" value="LOGOUT" class="idxSubmit">
  </form>

  <body>
    <table id="display">
        <tr>
            <th>ID</th>
            <th>Department</th>
            <th>Year to Date Earnings</th>
        </tr>
        {% for row in range(rows) %}
        <form>
            <tr>
                <td><input type="hidden" name="id" value="{{ content[row][0] }}"> {{ content[row][0] }}</td>
                <td><input type="hidden" name="title" value="{{ content[row][1] }}"> {{ content[row][1] }}</td>
                <td><input type="hidden" name="earnings" value="{{ content[row][2] }}"> {{ content[row][2] }}</td>
            </tr>
        </form>
        {% endfor %}
    </table>
  </body>

  <footer>
    University of Akron Athletics Events ~ Andrew Santa ~ ads227@uakron.edu
  </footer>

</html>