<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
  </head>
  <a href="{{ url_for('hello') }}">home</a>
  Add event
  <form action="/append" method = 'POST'>
      Title<input type="text" name="title"><br><br>
      Category<br>
      <input type="radio" name="category" value="NON">Non-University
      <input type="radio" name="category" value="UA">University
      <input type="radio" name="category"  value="CAMP">Camp
      <input type="radio" name="category" value="ZIPS">Zips
      <input type="radio" name="category"  value="MAC">MAC Challenge<br><br>
      Hours<input type="text" name="hours"><br><br>
      Date<input type="text" name="date">Month/Day/Year ex. 12/2/2022<br><br>
      Facility<br>
      <input type="radio" name="facility" value="FH">Fieldhouse
      <input type="radio" name="facility" value="STAD">Stadium
      <input type="radio" name="facility"  value="JAR">James A. Rhodes Arena
      <input type="radio" name="facility" value="OUT">Outdoors<br><br>
      Area<input type="text" name="area"><br><br>
      Total Athletics Overhead<input type="text" name="overhead"><br><br>
      Rental Fee<input type="text" name="fee"><br><br>
      <input type="submit">
  </form>
  <br><br><br>
  Add department
  <form action="/insert" method = 'POST'>
      Department Name<input type="text">
      <input type="submit">
  </form>
</html>