<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Event Search</title>
  </head>

  <header>
    University of Akron Athletics Events
  </header>

  <form action ="/" class = "idxForm">
    <input type="submit" value="HOME" class="idxSubmit">
  </form>

  <form action="/display" method="GET" class="idxForm">
      <input type="submit" value="DISPLAY" class="idxSubmit">
      <p class="idxLabel">Display all events.</p>
  </form>

  <form action="/insert" method="GET" class="idxForm">
    <input type="submit" value="INPUT" class="idxSubmit">
    <p class="idxLabel">Add an event and mirror it to your Outlook calendar.</p>
  </form>

  <form action="/search" method="POST" class="idxForm">
    <input type="submit" value="SEARCH" class="idxSubmit">
    <p class="idxLabel">Search for an event.</p>
  </form>

  <form action ="/department" class = "idxForm">
    <input type="submit" value="DEPARTMENTS" class="idxSubmit">
    <p class="idxLabel">Display all departments.</p>
  </form>

  <form action="/logout" class="idxForm">
    <input type="submit" value="LOGOUT" class="idxSubmit">
  </form>

  <form action="/searchresult" method = 'POST' class="input" id="search">
    <label for="search"> Search for an event. </label><br><br>
    <label for="title"> Title: </label>
      <input name="title" type="text" ><br><br>
      <input type="submit">
  </form>

  <footer>
    University of Akron Athletics Events ~ Andrew Santa ~ ads227@uakron.edu
  </footer>

</html>