<!doctype html>
<form action="/updateSubmit" method='POST'>
    <input name="id" type="hidden" value="{{ id }}">
    Title: <input name="title" type="text" value="{{ title }}">
    Category: <input name="category" type="text" value="{{ category }}">
    Hours: <input name="hours" type="text" value="{{ hours }}">
    Date: <input name="date" type="text" value="{{ date }}">
    Facility: <input name="facility" type="text" value="{{ facility }}">
    Area: <input name="area" type="text" value="{{ area }}">
    Overhead: <input name="overhead" type="text" value="{{ overhead }}">
    Rental Fee: <input name="fee" type="text" value="{{ fee }}">
    <input type="submit">
</form>